@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 4s linear; /* Adjust the duration and timing function as needed */
}
